@page "/products/{Category}"
@using Client.Components.Layout
@using Client.Components.Util
@using Shared.Models.DTOs
@using Shared.Models.DTOs.ProductTypesDTOs
@using Services
@using Shared.Models.Filters
@inject NavigationManager NavigationManager
@inject IServiceProvider ServiceProvider
@inject FilterStateService FilterStateService
@inject PersistentComponentState state

<PageTitle>@CategoryDisplay</PageTitle>

<h3>@CategoryDisplay</h3>
<p>@laptopFilter.ToString()</p>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@filterQuery</p>
    <ProductGrid products="@products" Category="@Category" />
}

@code {
    [Parameter]
    public string Category { get; set; } = null!;
    private List<ProductDTO> products = new();
    private string CategoryDisplay { get; set; } = "Loading...";
    public string filterQuery { get; set; } = "";
    private PersistingComponentStateSubscription persistingSubscription;

    protected override async Task OnParametersSetAsync()
    {
        persistingSubscription = state.RegisterOnPersisting(PersistData);
        if (!state.TryTakeFromJson<List<ProductDTO>>(Category, out var restored))
        {
            if (FilterStateService.SelectedCategory != Category)
            {
                FilterStateService.SetCategory(Category);
            }
            await LoadProductsAsync();
        }
        else
        {
            products = restored ?? new();
        }
    }

    private async Task LoadProductsAsync()
    {
        try
        {
            var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
            var query = $"{uri.Query}{filterQuery}";

            // Get DTO based on a map -> redirect if no match found
            Type dtoType = ProductCategoryMap.GetDtoType(Category);
            if (dtoType == null) NavigationManager.NavigateTo("/notfound", forceLoad: true);

            var serviceType = typeof(ProductService<>).MakeGenericType(dtoType);
            IProductService service = (IProductService)ServiceProvider.GetService(serviceType);

            products = await service.GetAllProductsAsync(query);

            CategoryDisplay = Category.ToLowerInvariant();
            CategoryDisplay = string.Concat(CategoryDisplay[0].ToString().ToUpper(), CategoryDisplay.AsSpan(1));
        }
        catch (InvalidOperationException)
        {
            Console.WriteLine($"Category '{Category}' not found or invalid.");
            NavigationManager.NavigateTo("/notfound", forceLoad: true);
        }
        catch (Exception e)
        {
            Console.WriteLine($"An unexpected error occurred: {e.Message}");
            NavigationManager.NavigateTo("/notfound", forceLoad: true);
        }
    }

    private Task PersistData()
    {
        state.PersistAsJson(Category, products);
        return Task.CompletedTask;
    }

    private LaptopFilter laptopFilter = new LaptopFilter
    {
        CpuBrand = Shared.Models.Enums.CpuBrand.Intel,
        MaxPrice = 1500,
        RamCapacity = 8
    };
}
