@page "/login"
@using System.ComponentModel.DataAnnotations
@using Client.Authorization
@using MudBlazor
@using Services
@using Shared.Models.DTOs
@using Microsoft.AspNetCore.Components.Authorization;
@inject IServiceProvider ServiceProvider
@inject NavigationManager NavigationManager
@inject JwtAuthenticationStateProvider AuthStateProvider

<h3>Login</h3>

<EditForm Model="@model" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Username"
                                  @bind-Value="model.Username" For="@(() => model.Username)" />
                    <MudTextField Label="Password" Class="mt-3"
                                  @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Log In</MudButton>
                </MudCardActions>
            </MudCard>
            <MudText Align="Align.Center" Class="mt-4">
                Don't have and account? <MudLink Href="/register">Register</MudLink>
            </MudText>
        </MudItem>
    </MudGrid>
</EditForm>

<MudText >@test</MudText>

<MudAlert NoIcon="true" Variant="Variant.Outlined" Class="mt-4">
    Is use logged in: <MudButton OnClick="TestAuth" Variant="Variant.Filled" Class="ms-4">@auth</MudButton>
</MudAlert>

<MudAlert NoIcon="true" Variant="Variant.Outlined" Class="mt-4">
    Is User an admin: <MudButton OnClick="TestAdmin" Variant="Variant.Filled" Class="ms-4">@admin</MudButton>
</MudAlert>

<MudAlert NoIcon="true" Variant="Variant.Outlined" Class="mt-4 mb-4">
    Try to refresh tokens: <MudButton OnClick="TestRefresh" Variant="Variant.Filled" Class="ms-4">@refresh</MudButton>
</MudAlert>


<MudStack Row="true">
    <MudText>Authentication State:</MudText>
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <MudText>You are logged in!</MudText>
                </Authorized>
            <NotAuthorized>
                <MudText>You are NOT logged in.</MudText>
	        </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
</MudStack>

@code {
    RegisterAccountForm model = new RegisterAccountForm();
    bool success;
    string test = "Test login feature";
    string auth = "Authentication";
    string admin = "Authorization (Admin Role)";
    bool refresh = false;

    public class RegisterAccountForm
    {
        [Required]
        public string Username { get; set; }

        [Required]
        public string Password { get; set; }
    }

    private async Task OnValidSubmit(EditContext context)
    {
        var authService = ServiceProvider.GetRequiredService<AuthService>();
        UserDTO user = new UserDTO
        {
            Username = model.Username,
            Password = model.Password
		};

        var userClaims = await authService.LoginAsync(user);

        if (userClaims != null)
        {
			AuthStateProvider.Login(userClaims);

            success = true;
            test = "Login successful!";
        }
        else
        {
            test = "Login failed.";
        }
        StateHasChanged();
    } 

    private async Task TestAuth()
    {
        var authService = ServiceProvider.GetRequiredService<AuthService>();
        var isAuth = await authService.TestAuth();
        auth = isAuth ? "User is authenticated" : "User is NOT authenticated";
        StateHasChanged();
	}


    private async Task TestAdmin()
    {
        var authService = ServiceProvider.GetRequiredService<AuthService>();
        var isAuth = await authService.TestAdmin();
        admin = isAuth ? "User is an admin" : "User is NOT an admin";
        StateHasChanged();
    }

    private async Task TestRefresh()
    {
        var authService = ServiceProvider.GetRequiredService<AuthService>();
        var isAuth = await authService.RefreshCookies();
        refresh = isAuth;
        StateHasChanged();
    }
}


