@page "/products/{Category}/{ProductId:int}/{ProductSlug?}"
@using System.Reflection
@using Client.Util
@using Humanizer
@using Services
@using Shared.Models.DTOs
@using Shared.Models.DTOs.ProductTypesDTOs
@inject NavigationManager navigationManager
@inject ProductServiceResolver productServiceResolver
@inject FilterStateService filterStateService
@inject CartService cartService

<PageTitle>@ProductSlug</PageTitle>

@if (product != null)
{
    <HeadContent>
        <meta name="description" content="@product.Brand @product.Model - @product.Description" />
        <meta name="keywords" content="@product.Brand, @product.Model, @Category" />
        <meta property="og:title" content="@product.Brand @product.Model" />
        <meta property="og:description" content="@product.Description" />
        <meta property="og:image" content="@product.Images.First().Path" />
        <meta property="og:url" content="@navigationManager.Uri" />
    </HeadContent>


    <h3>@product.Brand - @product.Model</h3>
    <MudStack Row="true" Breakpoint="Breakpoint.Xs">     
        <MudImage Src="@product.Images.First().Path" Alt="@ProductSlug" Fluid="true"></MudImage>
        <table class="table" style="height: 1px;">
            <tbody>
                @foreach (var property in GetPropertiesForDisplay())
                {
                    var value = property.GetValue(product);

                    <tr>                  
                        @if (value != null)
                        {
                            <td>@property.Name.Humanize()</td>
                            <td>@value.ToString()</td>
                        }                 
                    </tr>
			    }
            </tbody>
        </table>
    </MudStack>

    <MudStack Row="true" Breakpoint="Breakpoint.Xs">   
        @if (product.Sale != null && product.Sale > 0)
        {
            <div>
                <MudText Style="@($"color:{Colors.Red.Default}; text-decoration: line-through;")">@product.Price</MudText>
                <MudText Typo="Typo.h5">@product.GetPriceWithSale()</MudText>
            </div>
        }
        else
        {
            <MudText Typo="Typo.h5">@product.Price</MudText>
        }
        <MudIconButton Icon="@Icons.Material.Outlined.AddShoppingCart" OnClick="HandleAddToCart"></MudIconButton>
    </MudStack>
}
else
{
    <p><em>Loading... @Category</em></p>
}

@code {
    [Parameter]
    public string Category { get; set; }
    [Parameter]
    public int ProductId { get; set; }
    [Parameter]
    public string ProductSlug { get; set; }
    private ProductDTO product;

    protected override async Task OnInitializedAsync()
    {
        filterStateService.SetCategory("");
        try
        {       
            // Get DTO based on a map -> redirect if no match found
            IProductService service = productServiceResolver.GetService(Category)!;
            if (service == null) navigationManager.NavigateTo("/notfound", forceLoad: true);

            product = await service.GetProductByIdAsync(ProductId);
        }
        catch (InvalidOperationException)
        {
            Console.WriteLine($"Category '{Category}' not found or invalid.");
            navigationManager.NavigateTo("/notfound", forceLoad: true);
        }
        catch (Exception e)
        {
            Console.WriteLine($"An unexpected error occurred: {e.Message}");
            navigationManager.NavigateTo("/notfound", forceLoad: true);
        }
    }

    // Get product properties excluding base product ones
    private IEnumerable<PropertyInfo> GetPropertiesForDisplay()
    {
        var ignoreProps = new[] { "Id", "Images", "Sale", "Description", "Model", "Brand", "Price"};
        var properties = product.GetType()
                                .GetProperties()
                                .Where(p => !ignoreProps.Contains(p.Name));
        return properties;
    }

    private async Task HandleAddToCart()
    {
        await cartService.UpdateCart(product.Id, 1);        
    }
}
